/*NAV BAR STYLE*/
div.container-fluid {
    width: 1200px;
}

@media screen and (max-width:1200px) {
    div.container-fluid {
        width: 1000px;
    }
    #petNav,
    #petNav>li>a {
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 12px;
    }
}

@media screen and (max-width:999px) {
    div.container-fluid {
        width: 900px;
    }
}

@media screen and (max-width:899px) {
    div.container-fluid {
        display: none;
    }
}

.nav,
.navbar-nav {
    margin: 0 auto;
    height: 80px;
    vertical-align: bottom;
}

#petNav {
    color: white;
    margin-top: 45px;
    list-style: none;
    display: inline-flex;
}

#petNav img {
    margin-top: -5px;
}

#petNav,
#petNav>li>a {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#petNav>li>a {
    text-decoration: none;
}

#petNav>li {
    padding-left: 20px;
}

#petNav>li:last-child {
    position: relative;
    bottom: 10px;
}

#nav-mobile {
    display: none;
}

@media screen and (max-width:898px) {
    div#nav-mobile {
        display: inline-block;
    }
    div#nav-mobile div {
        display: inline;
    }
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 15em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 15em;
    }
    #orderCounter{
        color: white;
        text-align: center;
        font-size:1em;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 100em;
        background-color: darkgreen;
    }
}
@media screen and (max-width:820px) {
    div#nav-mobile img {
        height: 65px;
        
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 13em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}
@media screen and (max-width:800px) {
    div#nav-mobile img {
        height: 65px;
        
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 12em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 13em;
    }
}
@media screen and (max-width:768px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 12em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}
@media screen and (min-width:730px)and(max-width:767px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 10em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 10em;
    }
}
@media screen and (min-width:685px) and (max-width:710px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 8em;
    }
}
@media screen and (min-width:635px) and (max-width:685px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media screen and (max-width:634px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media screen and (max-width:588px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media screen and (max-width:568px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media screen and (max-width:480px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 5em;
    }
}
@media screen and (max-width:450px) {
    div#nav-mobile img {
        height: 45px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}
@media screen and (max-width:430px) {
    div#nav-mobile img {
        height: 42px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}
@media screen and (max-width:390px) {
    div#nav-mobile img {
        height: 40px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}
@media screen and (max-width:360px) {
         #orderCounter{
        right: 15px;
        bottom: 6px;
        font-size:12px;
    }
    div#nav-mobile img {
        height: 38px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3em;
    }
}
@media screen and (max-width:320px) {
     #orderCounter{
        right: 17px;
        bottom: 5px;
        font-size:12px;
    }
    div#nav-mobile img {
        height: 35px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 2.5em;
    }
}

#appearMenu{
    display: none;
    position: fixed;
    height: 100%;
    background: white;
    z-index: 9999;
}
#appearMenu ul{
    list-style-type: none;
    padding: 0 20px;
}
#appearMenu ul li{
    border-bottom: 1px solid #0d6490;
    width: 100%;
    line-height: 45px;
}

/*<span id="hoverSpan" >ОБАДЕТЕ НИ СЕ<span>*/

#hoverSpan {
    visibility: hidden;
    position: relative;
    bottom: 32px;
    left: 60px;
    border: solid #0d6490 1px;
    border-radius: 3px;
    padding: 2px 5px 2px 7px;
    font-size: 12px;
    background: #0d6490;
    color: white;
}

#hoverSpanAfter {
    visibility: hidden;
    content: "";
    position: relative;
    bottom: 8px;
    right: 0px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #0d6490 transparent;
}

#slushalka {
    position: relative;
    top: -2px;
    left: 135px;
}

#navChangeBG {
    background-color: white;
}
#petNav li{
    color: #808080;
}

#petNav .banner {
    color: #808080
}

#navMenuContainer {
    box-sizing: border-box;
    background: rgba(0, 0, 0,0.3);
    width: auto;
    margin-top: 92px;
    text-align: center;
    min-height: 5em;
}

#maincont {
    width: auto;
    margin:auto;

}


.navMenu {
    border: 3px rgba(0,0,0,0) solid;
    background: none;
    font-weight: 700;
    color: white;
    font-size: 17px;
    display: inline-block;
    margin: 1.3em 0;
    padding: 0 1em;


}

body {
    background-image: url("../images/background.jpg");
}

#activeMenu {
    width: 1170px;
    margin: auto;
    text-align: center;
}

.imena {
    font-size: 1em;
    color: #0073aa;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    min-height: 40px;
}

.desc {
    font-size: 1em;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    font-style: italic;
    min-height: 130px;
    padding: 3px;
}

hr {
    display: block;
    margin: 0px 15px;
    border-style: outset;
    border-width: 1px;
}

.customBtn {
    margin-top: 5px;

}
#basketWrapper{
    width: 100px;
    position: relative;
    clear: right;
    float: right;
}

#orderCounter2 {
    position: absolute;
    top: 21px;
    left: 40px;
    width: 20px;
    height: 22px;
    color: white;
    text-align: center;
    font-size:1em;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 100em;
    background-color: darkgreen;
    visibility: hidden;
}

#basket2{
    width: 100px;
    height: 100px;
}