/*NAV BAR STYLE*/

div.container-fluid {
    width: 1200px;
}

@media screen and (max-width:1200px) {
    div.container-fluid {
        width: 1000px;
    }
    #petNav,
    #petNav>li>a {
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 12px;
    }
}

@media screen and (max-width:999px) {
    div.container-fluid {
        width: 900px;
    }
}

@media screen and (max-width:899px) {
    div.container-fluid {
        display: none;
    }
}

.nav,
.navbar-nav {
    margin: 0 auto;
    height: 80px;
    vertical-align: bottom;
}

#petNav {
    color: white;
    margin-top: 45px;
    list-style: none;
    display: inline-flex;
}

#petNav img {
    margin-top: -5px;
}

#petNav,
#petNav>li>a {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#petNav>li>a {
    text-decoration: none;
}

#petNav>li {
    padding-left: 20px;
}

#petNav>li:last-child {
    position: relative;
    bottom: 10px;
}

#nav-mobile {
    display: none;
}

@media screen and (max-width:898px) {
    div#nav-mobile {
        display: inline-block;
    }
    div#nav-mobile div {
        display: inline;
    }
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 15em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 15em;
    }
    #orderCounter {
        color: white;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 100em;
        background-color: darkgreen;
    }
}

@media screen and (max-width:820px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 13em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}

@media screen and (max-width:800px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 12em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 13em;
    }
}

@media screen and (max-width:768px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 12em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}

@media screen and (min-width:730px)and(max-width:767px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 10em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 10em;
    }
}

@media screen and (min-width:685px) and (max-width:710px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 8em;
    }
}

@media screen and (min-width:635px) and (max-width:685px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:634px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:588px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:568px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:480px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 5em;
    }
}

@media screen and (max-width:450px) {
    div#nav-mobile img {
        height: 45px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:430px) {
    div#nav-mobile img {
        height: 42px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:390px) {
    div#nav-mobile img {
        height: 40px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:360px) {
    #orderCounter {
        right: 15px;
        bottom: 6px;
        font-size: 12px;
    }
    div#nav-mobile img {
        height: 38px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3em;
    }
}

@media screen and (max-width:320px) {
    #orderCounter {
        right: 17px;
        bottom: 5px;
        font-size: 12px;
    }
    div#nav-mobile img {
        height: 35px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 2.5em;
    }
}

#appearMenu {
    display: none;
    position: fixed;
    height: 100%;
    background: white;
    z-index: 9999;
}

#appearMenu ul {
    list-style-type: none;
    padding: 0 20px;
}

#appearMenu ul li {
    border-bottom: 1px solid #0d6490;
    width: 100%;
    line-height: 45px;
}


/*<span id="hoverSpan" >ОБАДЕТЕ НИ СЕ<span>*/

#hoverSpan {
    visibility: hidden;
    position: relative;
    bottom: 32px;
    left: 60px;
    border: solid #0d6490 1px;
    border-radius: 3px;
    padding: 2px 5px 2px 7px;
    font-size: 12px;
    background: #0d6490;
    color: white;
}

#hoverSpanAfter {
    visibility: hidden;
    content: "";
    position: relative;
    bottom: 8px;
    right: 0px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #0d6490 transparent;
}

#slushalka {
    position: relative;
    top: -2px;
    left: 135px;
}

#navChangeBG {
    background-color: white;
    height: 100px;
}

#petNav li {
    color: #808080;
}

#petNav .banner {
    color: #808080
}

#navMenuContainer {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    width: auto;
    margin-top: 92px;
    margin-bottom: 1em;
    text-align: center;
    min-height: 5em;
}

#maincont {
    width: auto;
    margin: auto;
}

.navMenu {
    border: 3px rgba(0, 0, 0, 0) solid;
    background: none;
    font-weight: 700;
    color: white;
    font-size: 17px;
    display: inline-block;
    margin: 1.3em 0;
    padding: 0 1em;
    cursor: pointer;
}

body {
    background-image: url("../images/background.jpg");
}

#activeMenu {
    width: 1170px;
    margin: auto;
    text-align: center;
}

.imena {
    font-size: 1em;
    color: #0073aa;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    min-height: 40px;
}

.desc {
    font-size: 1em;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    font-style: italic;
    min-height: 130px;
    padding: 3px;
}

hr {
    display: block;
    margin: 0px 15px;
    border-style: outset;
    border-width: 1px;
}

.customBtn {
    margin-top: 5px;
}

#basketWrapper {
    width: 80px;
    position: relative;
    right: 200px;
    /*bottom: 90px;*/
    clear: right;
    float: right;
}

#orderCounter2 {
    position: absolute;
    top: 21px;
    left: 40px;
    width: 20px;
    height: 22px;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 100em;
    background-color: darkgreen;
    visibility: hidden;
}

#basket2 {
    width: 100px;
    height: 100px;
}

.imena2 {
    float: left;
    font-size: 1em;
    color: #0073aa;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-top: 1em;
    width: 100%;
}

.desc2 {
    font-size: 1em;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    font-style: italic;
    padding: 3px;
    text-align: left;
}

#zagruska {
    box-sizing: border-box;
    height: 110px;
    width: 110px;
    position: absolute;
    top: 43%;
    left: 45%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.35);
    border: 15px solid rgba(0, 0, 0, 0.0);
    border-radius: 100%;
}

#zagruska img {
    height: 80px;
    width: 80px;
}

.quantity {
    width: 20px;
    height: auto;
    float: left;
    padding: 0px;
    text-align: center;
    margin: auto;
    font-weight: 1200;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.quantity:hover {
    cursor: pointer;
}

.itemQuantity {
    width: 20px;
    height: auto;
    float: left;
    padding: 0px;
    text-align: center;
    margin: auto;
    font-weight: 1200;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.itemCurrentPrice {
    padding-left: 100px;
}

#priceP {
    margin-top: 10px; 
    margin-left: 50px;
    font-size: 1.3em;
    color: #0073aa;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    width: 200px;
}

.removeBut {
    box-sizing: border-box;
    float: right;
}

footer {
    margin-top: 1000px;
    width: 100%;
    background-color: white;
}

footer ul {
    margin: 0 auto;
    width: 80em;
    list-style: none;
    display: block;
}

footer ul li {
    padding: 1em;
    font-weight: 700;
    color: #808080;
    display: inline-block;
}

@media all and (max-width:750px) {
    footer ul {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        display: block;
    }
    footer ul li {
        display: inline-flex;
    }
}

footer ul li button {
    border: none;
    background-color: white;
}

footer img {
    height: 50px;
}

footer ul:nth-child(2) {
    width: 60em;
}

footer div {
    padding: 0 20%;
    line-height: 40px;
    background-color: rgba(80, 80, 80, 0.2);
    font-size: 13px;
    color: #0d6490;
    text-align: right;
    width: 100%;
}


#loginMenu,
#regMenu {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

#loginMenu>div,
#regMenu>div {
    text-align: center;
    border-radius: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: #1f84a8;
    background-color: white;
    width: 670px;
    height: 570px;
    margin: 2% auto;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border-radius: 6px;
    background: #efefef;
    border: 1px solid #dfdfdf;
    width: 80%;
    line-height: 35px;
    font-size: 25px;
    margin: 2% 1%;
}

#loginMenu input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

#loginMenu p {
    line-height: 30px;
}

#loginMenu p a {
    font-size: 18px;
    font-style: oblique;
    text-decoration: underline;
    color: #808080;
    float: left;
    padding-left: 5em;
    font-weight: 400;
}

#loginMenu p span {
    float: right;
    padding-right: 5em;
}

#loginMenu p span label {
    color: #808080;
    font-size: 16px;
    position: relative;
    bottom: 4px;
}

#loginMenu button {
    width: 40%;
    margin-top: 2%;
}

#loginMenu div button:nth-child(2) {
    width: 30%;
    height: 40px;
    color: white;
    font-size: 1.5em;
    background-color: #1f84b8;
    border: 1px solid #0f74a8;
    border-radius: 6px;
    margin-left: -15.3em;
}

#loginMenu div button:nth-child(2):hover {
    border-color: #1f84b8;
    background-color: #2f94c8;
}

#loginMenu div button:nth-child(2) span {
    float: left;
}

#loginMenu div button:nth-child(4) {
    margin-left: 10.6em;
    border-color: #9c1915;
    background-color: #c9433f;
}

#loginMenu div button:nth-child(4):hover {
    border-color: #ac2925;
    background-color: #d9534f;
}

#loginMenu div button:nth-child(7) {
    border-color: #0f74a8;
    background-color: #1f84b8;
    color: white;
}

#loginMenu div button:nth-child(7):hover {
    border-color: #1f84b8;
    background-color: #2f94c8;
}

#exit,
#exit1,
#exitAcc {
    background-color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 100%;
    color: red;
    border: 3px solid #1f84b8;
    width: 34px;
}

#exit:hover,
#exit1:hover,
#exitAcc:hover {
    cursor: pointer;
    background-color: red;
}

#exit {
    position: relative;
    bottom: 513px;
    left: 647px;
}

#exit1 {
    position: relative;
    bottom: 474px;
    left: 647px;
}

#exitAcc {
    position: relative;
    bottom: 189px;
    left: 367px;
}

#login {
    height: 50px;
    width: 50px;
    display: none;
    position: relative;
    bottom: 8px;
    left: 10px;
}


#accMenu {
    display: none;
    width: 400px;
    padding: 1em;
    position: fixed;
    top: 150px;
    left: 1000px;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid #1f84b8;
}

#accMenu p {
    font-size: 30px;
    padding: 5px;
}

#accMenu button {
    width: 100px;
    background-color: #1f84b8;
    border: 1px solid #0e73a7;
    border-radius: 0.5em;
    color: white;
    font-size: 20px;
}

#accMenu button:hover {
    background-color: #3fa4d8;
    border-color: #0e73a7;
}