/*Carousel Styling*/

#myCarousel img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.navbar,
.navbar-fixed-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 24%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.15) 85%, rgba(0, 0, 0, 0.05) 100%);
    border: none;
    display: inline-block;
}

.container {
    width: 100%;
    padding: 0;
}


/*NAV BAR STYLE*/

div.container-fluid {
    width: 1200px;
}

@media all and (max-width:1199px) {
    div.container-fluid {
        width: 1000px;
    }
    #petNav,
    #petNav>li>a {
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 12px;
    }
}

@media all and (max-width:999px) {
    div.container-fluid {
        width: 900px;
    }
}

@media all and (max-width:899px) {
    div.container-fluid {
        display: none;
    }
}

.nav,
.navbar-nav {
    margin: 0 auto;
    height: 80px;
    vertical-align: bottom;
}

#petNav {
    color: white;
    margin-top: 45px;
    list-style: none;
    display: inline-flex;
    float: right;
}

#petNav img {
    margin-top: -5px;
}

#petNav,
#petNav>li>a {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#petNav>li>a {
    text-decoration: none;
}

#petNav>li {
    padding-left: 20px;
}

#petNav>li:last-child {
    position: relative;
    bottom: 10px;
}

#nav-mobile {
    display: none;
}

@media all and (max-width:898px) {
    div#nav-mobile {
        display: inline-block;
    }
    div#nav-mobile div {
        display: inline;
    }
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 15em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 15em;
    }
    #orderCounter{
        width: 20px;
        height: 20px;
        position: relative;
        right: 15px;
        bottom: 9px;
        color: white;
        text-align: center;
        font-size:15px;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 100em;
        background-color: darkgreen;
    }
}
@media all and (max-width:820px) {
    div#nav-mobile img {
        height: 65px;
        
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 13em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}
@media all and (max-width:768px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 11em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 11em;
    }
}
@media all and (max-width:720px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 8em;
    }
}
@media all and (max-width:620px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media all and (max-width:568px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}
@media all and (max-width:480px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 5em;
    }
}
@media all and (max-width:430px) {
    div#nav-mobile img {
        height: 42px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}
@media all and (max-width:390px) {
    div#nav-mobile img {
        height: 40px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}
@media all and (max-width:360px) {
         #orderCounter{
        right: 15px;
        bottom: 6px;
        font-size:12px;
    }
    div#nav-mobile img {
        height: 38px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3em;
    }
}
@media all and (max-width:320px) {
     #orderCounter{
        right: 17px;
        bottom: 5px;
        font-size:12px;
    }
    div#nav-mobile img {
        height: 35px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 2.5em;
    }
}

#appearMenu{
    position: fixed;
    height: 100%;
    background: white;
    z-index: 9999;
}
#appearMenu ul{
    list-style-type: none;
    padding: 0 20px;
}
#appearMenu ul li{
    border-bottom: 1px solid #0d6490;
    width: 100%;
    line-height: 45px;
}


/*<span id="hoverSpan" >ОБАДЕТЕ НИ СЕ<span>*/


/*#hoverSpan {
    position: relative;
    bottom: 32px;
    right: 80px;
    border: solid #4f7fff 1px;
    border-radius: 3px;
    padding: 2px 5px 2px 7px;
    font-size: 12px;
    background: #4f7fff;
}

#hoverSpan:after {
    content: "";
    position: relative;
    bottom: -22px;
    right: 50px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #4f7fff transparent;
}*/