/*Carousel Styling*/

body {
    background-image: url("../images/background.jpg");
}

#myCarousel img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.navbar,
.navbar-fixed-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 24%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.15) 85%, rgba(0, 0, 0, 0.05) 100%);
    border: none;
    display: inline-block;
}

.container {
    width: 100%;
    padding: 0;
}


/*NAV BAR STYLE*/

div.container-fluid {
    width: 1200px;
}

@media screen and (max-width:1200px) {
    div.container-fluid {
        width: 1000px;
    }
    #petNav,
    #petNav>li>a {
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 12px;
    }
}

@media screen and (max-width:1025px) {
    div.container-fluid {
        width: 900px;
        height: 85px;
    }
    #petNav {
        position: absolute;
        top: 0px;
        left: 200px;
        width: 800px;
    }
    /*#logoDominos{
        height: 50px;
    }*/
    /*#hoverSpan {
    visibility: hidden;
    position: relative;
    bottom: 32px;
    left: 60px;
    border: solid #0d6490 1px;
    border-radius: 3px;
    padding: 2px 5px 2px 7px;
    font-size: 12px;
    background: #0d6490;
}

#hoverSpanAfter {
    visibility: hidden;
    content: "";
    position: relative;
    bottom: 8px;
    right: 0px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #0d6490 transparent;
}*/
}

@media screen and (max-width:899px) {
    div.container-fluid {
        display: none;
    }
}

.nav,
.navbar-nav {
    margin: 0 auto;
    height: 80px;
    vertical-align: bottom;
}

#petNav {
    color: white;
    margin-top: 45px;
    list-style: none;
    display: inline-flex;
    float: right;
}

#petNav img {
    margin-top: -5px;
}

#petNav,
#petNav>li>a {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#petNav>li>a {
    text-decoration: none;
}

#petNav>li {
    padding-left: 20px;
}

#petNav>li:last-child {
    position: relative;
    bottom: 10px;
}

#nav-mobile {
    display: none;
}

@media screen and (max-width:898px) {
    div#nav-mobile {
        display: inline-block;
    }
    div#nav-mobile div {
        display: inline;
    }
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 14em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 14em;
    }
    #orderCounter {
        width: 20px;
        height: 20px;
        position: relative;
        right: 15px;
        bottom: 9px;
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 100em;
        background-color: darkgreen;
    }
}

@media screen and (max-width:838px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 13em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}

@media screen and (max-width:800px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 11em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 12em;
    }
}

@media screen and (max-width:768px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 10.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 10.5em;
    }
}

@media screen and(max-width:750px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 10em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 10em;
    }
}

@media screen and(max-width:748px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 8.8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 8.8em;
    }
}

@media screen and (min-width:685px) and (max-width:730px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 8em;
    }
}

@media screen and (min-width:635px) and (max-width:685px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:634px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:615px) {
    div#nav-mobile img {
        height: 65px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 5.6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 5.6em;
    }
}

@media screen and (max-width:596px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:568px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 6em;
    }
}

@media screen and (max-width:525px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 5.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 5.5em;
    }
}

@media screen and (max-width:510px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4.3em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4.3em;
    }
}

@media screen and (max-width:495px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4.2em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4.2em;
    }
}

@media screen and (max-width:480px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:470px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3.8em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3.8em;
    }
}

@media screen and (max-width:455px) {
    div#nav-mobile img {
        height: 50px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3.6em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3.6em;
    }
}

@media screen and (max-width:450px) {
    div#nav-mobile img {
        height: 45px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:430px) {
    div#nav-mobile img {
        height: 42px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:415px) {
    div#nav-mobile img {
        height: 42px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 4em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:395px) {
    div#nav-mobile img {
        height: 40px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 4em;
    }
}

@media screen and (max-width:360px) {
    #orderCounter {
        right: 15px;
        bottom: 6px;
        font-size: 12px;
    }
    div#nav-mobile img {
        height: 38px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 3em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 3em;
    }
}

@media screen and (max-width:320px) {
    #orderCounter {
        right: 17px;
        bottom: 5px;
        font-size: 12px;
    }
    div#nav-mobile img {
        height: 35px;
    }
    div#nav-mobile div:nth-child(1) {
        width: 33%;
        padding-left: 1em;
    }
    div#nav-mobile div:nth-child(2) {
        width: 33%;
        padding-left: 2.5em;
    }
    div#nav-mobile div:nth-child(3) {
        width: 33%;
        padding-left: 2.5em;
    }
}

#appearMenu {
    display: none;
    position: fixed;
    height: 100%;
    background: white;
    z-index: 9999;
}

#appearMenu ul {
    list-style-type: none;
    padding: 0 20px;
}

#appearMenu ul li {
    border-bottom: 1px solid #0d6490;
    width: 100%;
    line-height: 45px;
}


/*<span id="hoverSpan" >ОБАДЕТЕ НИ СЕ<span>*/

#hoverSpan {
    visibility: hidden;
    position: relative;
    bottom: 32px;
    left: 60px;
    border: solid #0d6490 1px;
    border-radius: 3px;
    padding: 2px 5px 2px 7px;
    font-size: 12px;
    background: #0d6490;
}

#hoverSpanAfter {
    visibility: hidden;
    content: "";
    position: relative;
    bottom: 8px;
    right: 0px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #0d6490 transparent;
}

#slushalka {
    position: relative;
    top: -2px;
    left: 135px;
}

div.articlesContainer {
    height: 500px;
    width: 40%;
    margin: 0 auto;
}

.articles {
    background-color: white;
    border-radius: 0.3em;
    text-align: center;
    margin: 1em 1em 1em 4em;
    float: left;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px #353535;
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    height: 55em;
}

@media all and (max-width:1280px) {
    div.articlesContainer {
        height: 500px;
        width: 60%;
        margin: 0 auto;
    }
}

.articles hr {
    width: 80%;
    border: 1px solid #808080;
}

article.articles img:first-child {
    border-radius: 0.3em 0.3em 0 0;
    width: 100%;
    height: 20em;
    box-sizing: border-box;
}

article.articles img+img {
    margin: 2em;
    width: 60%;
}

.articles h3 {
    height: 2em;
}

.articles h3,
p {
    font-weight: 700;
    color: #0d6490;
}

.articles p {
    padding: 1em;
    height: 5em;
    font-size: 1.2em;
    font-weight: normal;
    color: #808080;
}

div.articleFooter {
    margin-top: 5em;
    vertical-align: bottom;
}

div.articleFooter button span {
    font-size: 1em;
    vertical-align: middle;
    color: #0d6490;
}

div.customDiv {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

div.customDiv button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    display: inline-block;
}

#stpBtn {
    border-left: 3px solid #808080;
}

#main {
    margin: 0 auto;
    width: 1270px;
}

section,
aside {
    height: 800px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
}

section {
    width: 54%;
}

aside {
    text-align: center;
    float: right;
    border-radius: 0.5em;
    width: 36%;
    margin: 1% 5%;
    padding: .5em 0;
    background-color: #323232;
}

.box {
    padding: 1%;
    text-align: center;
    width: 100%;
    margin: 2% 5%;
    border-radius: 0.5em;
    height: 32%;
}

.box p,
aside p {
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}

aside p {
    padding: 0 15%;
}

.box h3,
aside h3 {
    line-height: 50px;
    font-weight: bold;
}

.box:nth-child(2) h3 {
    font-size: 20px;
}

.box h3 img:first-child,
aside h3 img:first-child {
    float: left;
}

.box h3 img:nth-child(2),
aside h3 img:nth-child(2) {
    float: right;
}

aside div img {
    height: 5em;
    padding: 0 4em;
}

aside span {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

aside div:last-child img {
    height: 35em;
    margin-top: 4.4em;
}

.box-red-order {
    background-color: #db092e;
}

.box-red-order button {
    font-size: 1.4em;
    font-weight: 700;
    padding: 0px;
    height: 3.5em;
    width: 80%;
    border-radius: 0.35em;
    border: none;
    background-color: #000000;
}

.box-blue-email {
    background-color: #0d6490;
}

.box-blue-email form {
    vertical-align: middle;
    display: inline-block;
    width: 80%;
}

.box-blue-email form button {
    border: none;
    background-color: #0d6490;
}

.box-blue-email form input {
    color: #404040;
    padding-left: 10px;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-radius: 0.35em;
    width: 88%;
}

.box-blue-email form img {
    margin-top: -5px;
    width: 45px;
}

.box-skyblue-skype {
    background-color: #00a2e1;
}

.box-skyblue-skype button {
    vertical-align: middle;
    border: none;
    background-color: #00a2e1;
}

.box-skyblue-skype img {
    width: 50px;
}

.box-skyblue-skype span {
    position: relative;
    top: 7px;
    left: 7px;
    font-size: 32px;
}

footer {
    width: 100%;
    background-color: white;
}

footer ul {
    margin: 0 auto;
    width: 80em;
    list-style: none;
    display: block;
}

footer ul li {
    padding: 1em;
    font-weight: 700;
    color: #808080;
    display: inline-block;
}

footer  ul li button {
    border: none;
    background-color: white;
}
footer img{
    height: 50px;
}
footer ul:nth-child(2){
    width: 60em;
}
footer div {
    padding: 0 20%;
    line-height: 40px;
    background-color: rgba(80, 80, 80, 0.2);
    font-size: 13px;
    color: #0d6490;
    text-align: right;
    width: 100%;
}