/*Carousel Styling*/
#myCarousel img{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.carousel-caption h1{
    font-size: 5.4em;
    font-family: "Pasifico",cursive;
}
.carousel-caption p{
    font-size: 2em; 
}